@media only screen and (max-width: 1025px) {
  /* line 2, ../sass/style.scss */
  .non-mobile {
    display: block;
  }
}
/* line 7, ../sass/style.scss */
body {
  background-color: #1A1737;
  margin: 0 20px;
  padding-bottom: 100px;
}

/* line 13, ../sass/style.scss */
.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #1A1737;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}
/* line 26, ../sass/style.scss */
.header img {
  width: 30px;
  margin: 10px 0;
}

/* line 32, ../sass/style.scss */
.home {
  margin-top: 105px;
  background-color: #1A1737;
  color: #fff;
}
/* line 37, ../sass/style.scss */
.home .container-shop {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  margin: 0 15px;
  height: 250px;
  background-color: #141841;
  width: 200px;
  display: inline-block;
}
/* line 49, ../sass/style.scss */
.home .container-balance {
  margin: auto;
  padding: 15px;
  height: 75px;
  background-color: #141841;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

/* line 61, ../sass/style.scss */
.h2 {
  font-size: 25px;
  font-weight: bold;
}

/* line 66, ../sass/style.scss */
.footer {
  background-color: #1A1737;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}
/* line 78, ../sass/style.scss */
.footer ul {
  padding: 0;
  text-align: center;
}
/* line 83, ../sass/style.scss */
.footer li {
  display: inline-block;
}
/* line 87, ../sass/style.scss */
.footer img {
  width: 30px;
  margin: 0 35px;
}

/* line 93, ../sass/style.scss */
.non-mobile {
  background-color: #F6F6F6;
  width: 100%;
}

/* line 98, ../sass/style.scss */
.left {
  float: left;
}

/* line 102, ../sass/style.scss */
.droite {
  float: right;
}

/* line 106, ../sass/style.scss */
.centre {
  text-align: center;
}
