@media only screen and (max-width: 1025px) {
  /* line 2, ../sass/style.scss */
  .non-mobile {
    display: block;
  }
}
/* line 7, ../sass/style.scss */
.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #1A1737;
  color: #fff;
}

/* line 16, ../sass/style.scss */
.footer {
  background-color: #1A1737;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #FFFFFF;
}

/* line 25, ../sass/style.scss */
.non-mobile {
  position: fixed;
  background-color: #F6F6F6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 4px solid black;
  display: none;
}
