@media only screen and (max-width: 1025px) {
  .non-mobile {
    display: block;
  }
}

body {
  background-color: #1A1737;
  margin: 0 20px;
  padding-bottom: 100px;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #1A1737;
  color: #fff;
  text-align: center;

  -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);

  img {
    width: 30px;
    margin: 10px 0;
  }
}

.home {
  margin-top: 105px;
  background-color: #1A1737;
  color: #fff;

  .container-shop {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);

    margin: 0 15px;
    height: 250px;
    background-color: #141841;
    width: 200px;
    display: inline-block;
  }

  .container-balance {
    margin: auto;
    padding: 15px;
    height: 75px;
    background-color: #141841;

    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  }
 }

.h2 {
  font-size: 25px;
  font-weight: bold;
}

.footer {
  background-color: #1A1737;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #FFFFFF;

  -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);

  ul {
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
  }

  img {
    width: 30px;
    margin: 0 35px;
  }
}

.non-mobile {
  background-color: #F6F6F6;
  width: 100%;
}

.left {
  float: left;
}

.droite {
  float: right;
}

.centre {
  text-align: center;
}
